body{
  background-color:bisque;
  margin-top: 7%;
}

h2{
  text-decoration: underline;
  padding: 5px;
}

nav{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  padding: 10px;
  border: solid black 3px;
  background-color: gray;

}
/* First Page */
#links{
  display:flexbox;
  justify-content: space-between;
  
}

.pictures{
  display: grid;
}


#pic-1{
  align-self: center;
  width: 500px;
  height: 340px;
  float: inline-end;
  
}

main{
  display: flexbox;
  margin: 60px;
  padding: 100px;
}

/* About Page */

#gaming{
  width: 200px;
  height: 150px;
}

#gym{
  width:250px;
  height: 150px;
}

#food{
  width: 300px;
  height: 200px;
}

.hobbies{
  display: flex;
  border: black solid 2px;
  padding: 10px;
}

/* Portfolio Page */

#project1{
  width: 300px;
  height: 150px;
}

#project2{
  width: 250px;
  height: 150px;
}

#project3{
  width: 275px;
  height: 150px;
}

.project{
  border: solid black 1px;
  padding: 20px;
  margin: auto 10px;
  background-color: burlywood;
}